/*Inicio carrosel */


.slider{
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.slides{
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img{
  width: 100%;
  height: 100%;
  object-fit:contain;
}

.manual-navigation{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: #fff;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}

#radio4:checked ~ .first{
  margin-left: -75%;
}

.navigation-auto div{
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}


#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: #fff;
}




/* Fim carrosel */

/* Passagem-1 menu */
table {
  width: 90%;
  border-collapse: collapse;
  margin-left: 60px; 
  margin-right: 40px;
  margin-top: 25px;
  margin-bottom: 30px;

  }


  tr {
    border-bottom: 3px solid #606060;;
  }

  th {
    text-align: left; padding-bottom: 10px; text-transform: uppercase;
  }

  td {
    text-align: left; padding-bottom: 35px; padding-top: 35px;
  }

  .timeline {
    width: 30%;
    height: 100px;
    max-width: 400px;
    margin: 0 auto;
    display:flex;      
    justify-content: center;    
  }
  
  .timeline .events {
    position:absolute;
    background-color: #606060;
    height: 3px;
    width: 70%;
    border-radius: 4px;
    margin: 5em 0;
   }
  
  .timeline .events ol {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .timeline .events ul {
    list-style: none;
  }
  
  .timeline .events ul li {
    display: inline-block;
    width: 24.65%;
    margin: 0;
    padding: 0;
  }
  
  .timeline .events ul li a {
    font-family: sans-serif;
    font-style: italic;
    font-size: 1.25em;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: -38px;
  }
  
  .timeline .events ul li a:after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 50%;
    right: auto;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #606060;
    background-color: #fff;
    transition: 0.3s ease;
    transform: translateX(-50%);
  }
  
  .timeline .events ul li a:hover::after {
    background-color: #194693;
    border-color: #194693;
  }
  
  .timeline .events ul li a.selected:after {
    background-color: #194693;
    border-color: #194693;
  }
              
  .events-content {
    width: 100%;
    height: 100px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;      
    justify-content: left;
  }
  
  .events-content li {
    display: none;
    list-style: none;
  }
  
  .events-content li.selected {
    display: initial;
  }
  
  .events-content li h2 {
    font-family: sans-serif;
    font-weight: 500;
    color: #919191;
    font-size: 2.5em;
  }

aside {
  display:flex
}


/* Fim Passagem 1 menu */
body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  background-size: cover;
  color: #fff;
}
body.pagina1{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  background-size:contain;
  color: #fff;

}


header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 97.8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:relative ;
  z-index: 0;

}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s ease;
}

nav ul li a.active {
  background-color: #666;
}

main {
  padding: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5%;
}
.menu {
  width: 200px;
}
.menu-item a {
  font-size: 18px; /* Tamanho da fonte desejado */
  color: white; /* Cor do texto desejada */
}

.link-color{
  color: red;
}

.main1{
  text-align: center;
  text-align: left;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

option {
  padding: 10px;
}
/* Estilos do menu */
ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.menu li {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  background-color: #eee;
  cursor: pointer;
  transition: background-color 0.3s;
}

ul.menu li:hover {
  background-color: #ccc;
}
.video{
  text-align: center;
}
.footer1{
  background-color: #666;
  position:fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size:16px;
  padding: 10px;
}
.footer {
  background-color: #666;
  bottom: 0;
  left: 0;
  width: 98.95%;
  text-align: center;
  font-size: 16px;
  padding: 10px;
}
.footer2{
  background-color: #666;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 98.95%;
  text-align: center;
  font-size: 16px;
  padding: 10px;

}
/*    PAGINA DE PAGAMENTO*/



body-pagamento {
  font-family: Arial, sans-serif;
  background-color: #aeaeae;
}

.forma-de-pagamento {
  width: 400px;
  margin: 0 auto;
  background-color: #aeaeae;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.formulario-passageiro {
  width: 400px;
  margin: auto;
  margin-bottom: 100px;
  background-color: #aeaeae;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
}

.form-row {
  margin-bottom: 10px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  
}

.form-button:hover {
  background-color: #45a049;
}